<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ee_exam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminPrivileges"></activity>
        <activity android:name=".ResultSub2SuccessActivity" />
        <activity android:name=".SecSubject2Activity" />
        <activity android:name=".ResultFailedSub2Activity" />
        <activity android:name=".ExamTimeActivity" />
        <activity android:name=".EditLevelDept" />
        <activity android:name=".AddSubject" />
        <activity android:name=".DeletProfessor" />
        <activity android:name=".SelectProfessor" />
        <activity android:name=".UpdateSubject" />
        <activity android:name=".ProfOptionsActivity" />
        <activity android:name=".AddLevelDept" />
        <activity android:name=".AdminOption" />
        <activity android:name=".DeletTruefalseQuestion" />
        <activity android:name=".SelectTrueFalse" />
        <activity android:name=".UpdateTrueFalseQuestion" />
        <activity android:name=".SelectResultActivity" />
        <activity android:name=".SelectMCQActivity" />
        <activity android:name=".UpdateQesMMCQActivity" />
        <activity android:name=".DeletemcqActivity" />
        <activity android:name=".ResultSuccessActivity" />
        <activity android:name=".ResultFailedActivity" />
        <activity android:name=".SecActivity" />
        <activity android:name=".Accesscode_student" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".ProfessorRegisterActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".EnterTFQByProf" />
        <activity android:name=".EnterQesByProf" />
        <activity android:name=".RegisterOptionActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>